@import "./base.css";
nav {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 6px;
}
nav > img {
  width: 3em;
  height: 3em;
  mix-blend-mode: multiply;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.slider-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 480vw;
  height: 65vh;
  overflow: hidden;
  margin-left: 380vw;
  transition: all 0.3s;
}
section {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.8em;
  transition: all 0.3s;
}
@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0.8;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.zoom-active {
  animation: zoomIn 0.6s ease-out forwards;
}
section > img {
  width: 20em;
  height: 20em;
  padding: 12px;
}
section > * {
  text-align: center;
}
section > p {
  color: grey;
  font-size: 0.8em;
  padding-left: 5px;
  padding-right: 5px;
}
.fade-to-bottom {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.2s ease-out forwards;
}
.fade-to-bottom:nth-child(2) {
  animation-delay: 350ms;
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.next {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}
.details {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 18px;
  gap: 0.4em;
}
.details > * {
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background: lightgrey;
}
.current-frame {
  background: #F76988 !important;
}
.next > button {
  outline: none;
  border: none;
  color: #fff;
  font-size: 1.1em;
  padding: 12px;
  font-weight: 600;
  border-radius: 50px;
  text-align: center;
  width: 75%;
  background: #F76988;
}
.next-btn {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.next-btn.clicked {
  animation: click-zoom 0.2s ease forwards;
}
.next-btn::after {
  content: '';
  position: absolute;
  top: -60%;
  left: -4%;
  width: 3em;
  height: 3.2em;
  border-radius: 50%;
  background: #942f45;
  opacity: 0.4;
}
.next-btn::before {
  content: '';
  position: absolute;
  bottom: -60%;
  right: -4%;
  width: 3em;
  height: 3.2em;
  border-radius: 50%;
  background: #942f45;
  opacity: 0.4;
}

@keyframes click-zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}