@import "./base.css";

.verify-img {
  width: 200px;
  height: auto;
  margin-bottom: 2rem;
}

.button {
  background-color: #F76988;
  color: white;
  border: none;
  width: 50vw;
  padding: 0.7rem;
  font-size: 1em;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  animation: shake 0.5s infinite ease-out;
  transition: background-color 0.3s ease;
}
.button::after {
  content: '';
  position: absolute;
  top: -60%;
  left: -4%;
  width: 2.7em;
  height: 2.7em;
  border-radius: 50%;
  background: #942f45;
  opacity: 0.4;
}
.button::before {
  content: '';
  position: absolute;
  bottom: -60%;
  right: -4%;
  width: 2.7em;
  height: 2.7em;
  border-radius: 50%;
  background: #942f45;
  opacity: 0.4;
}
.button:hover {
  background-color: #F76988;
  animation: none;
}
header {
  background: transparent;
}
@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(1.5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-1.5deg); }
  100% { transform: rotate(0deg); }
}
