@import "./base.css";

body {
  margin: 0;
  background-color: #f9f9f9;
  background-image: 
    linear-gradient(to right, rgba(0, 0, 0, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.03) 1px, transparent 1px);
  background-size: 20px 20px;
  min-height: 100vh;
  overflow: hidden;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60vh;
  gap: 5em;
  border-radius: 16px;
  text-align: center;
  max-width: 100vw;
}

.verify-img {
  width: 200px;
  height: auto;
  margin-bottom: 3.5rem;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  color: #333;
}

p {
  font-size: 1rem;
  color: grey;
  margin-bottom: 2rem;
  padding: 0 1rem;
  font-size: 0.8em;
}

.button {
  background-color: #F76988;
  color: white;
  border: none;
  width: 50vw;
  padding: 0.7rem;
  font-size: 1em;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  animation: shake 0.5s infinite ease-out;
  transition: background-color 0.3s ease;
}
.button::after {
  content: '';
  position: absolute;
  top: -60%;
  left: -4%;
  width: 2.7em;
  height: 2.7em;
  border-radius: 50%;
  background: #942f45;
  opacity: 0.4;
}
button::before {
  content: '';
  position: absolute;
  bottom: -60%;
  right: -4%;
  width: 2.7em;
  height: 2.7em;
  border-radius: 50%;
  background: #942f45;
  opacity: 0.4;
}
button:hover {
  background-color: #F76988;
  animation: none;
}
header {
  background: transparent;
}
@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(1.5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-1.5deg); }
  100% { transform: rotate(0deg); }
}
