---
import mailSend from "../assets/mail-sent.gif";
import "../styles/verify.css";
import BaseLayout from "../layout/BaseLayout.astro";
---

<BaseLayout title="Verify Heliox Account">
  <header></header>
  <main aria-label="Main Verification">
    <section>
      <img src={mailSend.src} alt="Mail Sent" width="480" height="480" class="verify-img">
      <h2>Check Your Inbox</h2>
      <p>
        We've sent a verification link to your email address.  
        Click the link to activate your Heliox account.
      </p>
      <button class="button">Already Verified</button>
    </section>
  </main>

  <script type="module" src="https://cdn.jsdelivr.net/npm/nuekjs@latest/scripts/main.js"></script>
  <script type="module">
    const navPath = "components/nuek/NavBar.nuek";
    const NavBar = new NuekComponent("header", navPath);
  </script>
</BaseLayout>